.navigation {
    /* background-color: rgb(158, 158, 158); */
    background-color: rgb(245, 174, 42);
    min-height: 100px;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}


/* .navcustom ul {
    width: 100%;
} */

.navigation ul,
li {
    margin: 10px;
}


/* .navcustom ul li>.title {
    font-size: 45px;
    text-decoration: none;
    color: black;
} */


/* .navcustom ul li>.other {
    margin-top: 15px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid;
} */
